<% @title = "Messages Page" %>
<div class="wrapper">
	<h2>Index</h2>
	<% if flash[:message] %>
		<p><span><%=flash[:message]%></span></p>
	<% end %>

		<p><b> Messages: </b></p>

	<%= form_for(@message, :html=>{:multipart => true}, :url => {:action => :create}) do |form| %> 
	<table class="form">
		<tr>
			<td><%=form.hidden_field :longitude, :value => 33.4%></td>
		</tr>
		<tr>
			<td><%=form.hidden_field :latitude, :value => 53.4%></td>
		</tr>	
		<tr>
			<td class="label">User ID:</td>
			<td><%= form.text_field(:user_id) %></td>
		</tr>		
		<tr>
			<td class="label">Event ID:</td>
			<td><%= form.text_field(:event_id) %></td>
		</tr>					
		<tr>
			<td class="label">Text:</td>
			<td><%= form.text_area(:text) %></td>
		</tr>
		<tr>
			<td class="label">File:</td>
			<td><%= form.file_field(:filename) %></td>
		<tr>
			<td><%= submit_tag("Send") %></td>
		</tr>
	</table>
	<% end %>
</div>

