<% @title = "Messages Page" %>
<div class="wrapper">
	<h2>Index</h2>
	<% if flash[:message] %>
		<p><span><%=flash[:message]%></span></p>
	<% end %>

		<p><b> Messages: </b></p>

	<%= form_for(@message, :url => {:action => :update}) do |form| %> 
	<table class="form">
		<tr>
			<td><%=form.hidden_field :status, :value => "YES"%></td>
		</tr>
		<tr>
			<td class="label">Event ID:</td>
			<td><%= form.text_field(:id) %></td>
		</tr>
		<tr>
			<td><%= submit_tag("YES") %></td>
		</tr>
	</table>
	<% end %>
</div>
