<% @title = "Invitation Index" %>
<div class="wrapper">
	<h2>Index</h2>
	<% if flash[:message] %>
		<p><span><%=flash[:message]%></span></p>
	<% end %>

	<%= form_for(@invitation, :url => {:action => :create}) do |form| %>
		<table class="form">
			<tr>
				<td class="label">Event ID:</td>
				<td><%= form.text_field(:event_id) %></td>
			</tr>
			<tr>
				<td class="label">User sent: </td>
				<td><%= form.text_field(:user_sent) %> </td>
			</tr>
			<tr>
				<td class="label">User invited: </td>
				<td><%= form.text_field(:user_invited) %></td>
			</tr>
			<tr>
				<td><%= submit_tag("Submit") %></td>
			</tr>
		</table>
	<% end %>


	<p><b> Invitations: </b></p>

	<%= form_for(@invitation, :url => {:action => :update}) do |form| %> 
	<table class="form">
		<tr>
			<td><%=form.hidden_field :status, :value => "YES"%></td>
		</tr>
		<tr>
			<td class="label">Event ID:</td>
			<td><%= form.text_field(:id) %></td>
		</tr>
		<tr>
			<td><%= submit_tag("YES") %></td>
		</tr>
	</table>
	<% end %>

	<%= form_for(@invitation, :url => {:action => :update}) do |form| %> 
	<table class="form">
		<tr>
			<td class="label">Event ID:</td>
			<td><%= form.text_field(:id) %></td>
		</tr>		
		<tr>
			<td><%=form.hidden_field :status, :value => "NO"%></td>
		</tr>
		<tr>
			<td><%= submit_tag("NO") %></td>
		</tr>
	</table>
	<% end %>

</div>
